<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="login-form">
    Username : <label>
    <input type="text" name="name">
</label>

    Password : <label>
    <input type="password" name="password">
</label>
    Remember Me : <label for="rememberMe"><input type="checkbox" id="rememberMe" name="rememberMe"/></label>

    <button type="submit">Login</button>
</form>
</body>
<script>

    const json = {};
    const form = document.getElementById("login-form");

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        

        form.querySelectorAll('input').forEach(input => {
            if (input.type === 'checkbox') {
                json[input.name] = input.checked; // Set true or false for checkbox
            } else {
                json[input.name] = input.value; // Set value for text and password fields
            }
        });

        console.log(json);
        login(json);
    });

    async function login(data) {
        const response = await fetch('akz/api/v1/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        });

        const result = await response.json();
        console.log(result);
        window.location.href = "/home";
    }

</script>
</html>
